<div id="<%= dom_id build_order %>">
  <p>
    <strong>Name:</strong>
    <%= build_order.name %>
  </p>

  <p>
    <strong>Faction:</strong>
    <%= build_order.faction %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= build_order.notes %>
  </p>

  <p>
    <strong>User:</strong>
    <%= build_order.user.username %>
  </p>
</div>
