<%= form_with model: [@user, @build_order], local: true do |form| %>
  <% if build_order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(build_order.errors.count, "error") %> prohibited this build_order from being saved:</h2>

      <ul>
        <% build_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :faction, style: "display: block" %>
    <%= form.select :faction, ['Resistance', 'Infernals'] %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>
  <hr/>

  <h3>Steps</h3>
  <div id="steps">
    <%= form.fields_for :build_order_steps do |step_form| %>
      <%= render "build_order_steps/form", form: step_form %>
    <% end %>
  </div>

  <%= form.submit "Add step",
    formaction: build_order_step_path(@build_order.build_order_steps.size),
    formmethod: :post,
    formnovalidate: true,
    id: "add-build-order-step" %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
