<div class="container-md my-4 p-3 bg-body-secondary rounded-4 border-orange">
  <div id="<%= dom_id attack_benchmark %>">
    <h1 class="text-center"><%= attack_benchmark.build_order + ' - ' + attack_benchmark.formatted_date %></h1>
    <hr/>
    <p class="fs-3"><strong>Time of attack:</strong> <%= attack_benchmark.formatted_time %> minutes</p>
    <hr/>
    <p class="fs-3"><strong>Map:</strong> <%= attack_benchmark.map %></p>
    <hr/>
    <div class="accordion accordion-flush mb-4" id="attackBenchmarkDetails_<%= attack_benchmark.id %>">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading_<%= attack_benchmark.id %>">
          <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse"
           data-bs-target="#collapse_<%= attack_benchmark.id %>" aria-expanded="false" aria-controls="collapse_<%= attack_benchmark.id %>">Details</button>
        </h2>
        <div id="collapse_<%= attack_benchmark.id %>" class="accordion-collapse collapse" data-bs-parent="#attackBenchmarkDetails_<%= attack_benchmark.id %>"
         aria-labelledby="heading_<%= attack_benchmark.id %>">
          <div class="accordion-body">
            <p class="fs-3"><strong>Match outcome:</strong> <%= attack_benchmark.match_outcome %></p>
            <hr/>
            <p class="fs-3"><strong>Notes:</strong></p>
            <p class="fs-4"><%= attack_benchmark.notes %></p>
            <hr/>
            <p class="fs-3"><strong>Units:</strong></p>
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-dark">
                <thead>
                  <tr>
                    <th class="fs-5" scope="col">Unit</th>
                    <th class="fs-5" scope="col">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <% attack_benchmark.units.each do |unit| %>
                    <tr>
                      <td class="fs-5"><%= unit.unit_type %></td>
                      <td class="fs-5"><%= unit.quantity %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <hr>
            <% if cannot? :manage, attack_benchmark %>
              <p class="fs-3"><strong>Created by:</strong> <%= attack_benchmark.user.username %></p>
              <hr/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if current_page?(controller: "attack_benchmarks", action: "index") %>
      <span style="margin-right: 10px"><%= link_to "Show", user_attack_benchmark_path(@user, attack_benchmark), class: "fs-6" %></span>
    <% end %>
    <% if can? :manage, attack_benchmark %>
      <span style="margin-right: 10px"><%= link_to 'Edit', edit_user_attack_benchmark_path(@user, attack_benchmark), class: "fs-6" %></span>
      <%= link_to 'Delete', user_attack_benchmark_path(@user, attack_benchmark), class: "fs-6", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
