<div id="<%= dom_id attack_benchmark %>">
  <p>
    <strong>Time:</strong>
    <%= attack_benchmark.time %>
  </p>

  <p>
    <strong>Map:</strong>
    <%= attack_benchmark.map %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= attack_benchmark.notes %>
  </p>

  <p>
    <strong>User:</strong>
    <%= attack_benchmark.user_id %>
  </p>

  <p>
    <strong>Build order:</strong>
    <%= attack_benchmark.build_order_id %>
  </p>

</div>
