<div class="container-fluid my-5">
  <div class="container-md p-3 bg-body-secondary rounded-4 border-orange">
    <%= form_with model: [@user, @attack_benchmark], local: true do |form| %>
      <% if attack_benchmark.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(attack_benchmark.errors.count, "error") %> prohibited this benchmark from being saved:</h2>
  
          <ul>
            <% attack_benchmark.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :build_order, style: "display: block", class: "fs-3" %>
        <%= form.select :build_order, @user.build_orders.map { |bo| bo.name }, {}, class: "form-control form-control-lg" %>
      </div>
  
      <div class="form-row">
          <%= form.label :time, style: "display: block", class: "fs-3" %>
  
          <!-- Time separator is used here to wrap minute and seconds time selects with a div for bootstrap styling purposes -->
          <div class="form-group col-6 pe-1 inline-block">
            <%= form.time_select :time, { discard_hour: true, include_seconds: true, prompt: true, time_separator: "</div><div class='form-group col-6 ps-1 inline-block'>" }, class: "form-control form-control-lg" %>
          </div>
      </div>
  
      <div class="form-group">
        <%= form.label :map, style: "display: block", class: "fs-3" %>
        <%= form.text_field :map, class: "form-control form-control-lg" %>
      </div>

      <div class="form-group">
        <%= form.label :match_outcome, style: "display: block", class: "fs-3" %>
        <%= form.select :match_outcome, ['Win', 'Loss', 'Tie'], {}, class: "form-control form-control-lg" %>
      </div>
  
      <div class="form-group">
        <%= form.label :notes, style: "display: block", class: "fs-3" %>
        <%= form.text_area :notes, class: "form-control form-control-lg" %>
      </div>
      <hr/>

      <h2>Units</h2>
      <div id="units">
        <%= form.fields_for :units do |unit_form| %>
          <%= render "units/form", form: unit_form %>
        <% end %>      
      </div>

      <%= form.submit "Add unit",
          class: "btn btn-primary my-2",
          formaction: unit_path(@attack_benchmark.units.size),
          formmethod: :post,
          formnovalidate: true,
          id: "add-unit" %>
  
      <div>
        <% if params[:action] == 'new' || params[:action] == 'create' %>
          <%= form.submit "Create benchmark", class: "btn btn-success my-2" %>
        <% else %>
          <%= form.submit "Update benchmark", class: "btn btn-success my-2" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
